<form class="edit-form" ng-submit="$ctrl.saveUserProfile($ctrl.profileEdit)">
    <p class="edit-title">Use the form below to update your profile.</p>
    <label for="name">Name</label>
    <input name="name" class="edit-input" type="text" ng-model="$ctrl.profileEdit.name">
    <label for="contact">Contact</label>
    <input name="contact" class="edit-input" type="text" ng-model="$ctrl.profileEdit.contact">
    <label for="bio">Bio</label>
    <input name="bio" id="edit-bio" class="edit-input" type="text" ng-model="$ctrl.profileEdit.bio">
    <button class="edit-btn">update</button>
</form>

